* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 50px;
	color: red;
	background-color: black;
	text-align: center;
	line-height: 50px;
	float: left;
}

#navigacija {
	list-style-type: none;
	width: 100%;	
	height: 50px;
	background-color: green;
}

#navigacija li {
		display: inline-block;
		height: 100%;
		width: 25%;
		text-align: center;
		line-height: 50px;
}

#navigacija li a {
	color: white;
	text-decoration:none;
}

#navigacija li:hover {
	background-color: red;
}

#slika {
	width: 100%;
	height: auto;
	float: left;
}

.blok {
	background-color: red;
	width: 33.33%;
	height: 100px;
	float: left;
}

@media only screen and (min-width: 641px) and (max-width: 1000px) {

	#navigacija li {
		background-color: purple;
	}


}

@media only screen and (max-width: 640px) {
	header {
		background-color: blue;
		color: white;
	}

	#navigacija li {
		display: block;
		background-color: red;
		width: 100%;
		height: 25%;
	}

	#navigacija {
		height: 200px;
	}

	.blok {
		width: 100%;
		height: 50px;
		margin-top: 20px;
	}
	
}


